<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="0" name="SuiteDemo">
  <test thread-count="0" name="Test">
    <classes>
      <class name="utility.Base"/>
      <class name="testsuite.HomePageVerificationTestCase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- SuiteDemo -->
